@use 'variaveis';


.header{
    padding: 20px 38px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: variaveis.$corDeFundo;  
    transition: background-color .5s ease;
    
    &--is-hidden{
        background-color: transparent;
        transition: background-color .5s ease;
        .button--secundary{
            opacity: 0;
            visibility: hidden; 
            transition: opacity .5s ease;           
        }
        .header{
            &__content__img{
                opacity: 0;
                visibility: hidden;   
                transition: opacity .5s ease;              
            }
        }
    }
    .header__content{
        display: flex;
        justify-content: space-between;

        &__img{
            height: 38px;
            margin: 5px;
            transition: opacity .5s ease;  
        }

        &__item{
            display: flex;
            align-items: center;
            justify-content: center;
            transition: opacity .5s ease;
            .button{
                margin: 5px;
                height: 40px;
            }
        }
    }
}
