@use 'hero';
@use 'variaveis';
@use 'shows';
@use 'plans';
@use 'available-devices';
@use 'faq';
@use 'footer';
@use 'header';

@font-face {
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Regular.woff2);
    font-weight: 400;
}
@font-face {
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Bold.woff2);
    font-weight: 700;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Avenir, sans-serif;
    list-style: none;
}

body{
    background-color: variaveis.$corDeFundo;
}

@mixin text($fontSize: 16px){
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: variaveis.$corTextoSecundario;
}

@mixin title($fontSize: 40px){
    @include text($fontSize);
    color: variaveis.$corTextoPrincipal;
    font-weight: 700;
}

.text--big{
    @include text(18px);
}

.text{
    @include text;
}

.text--small{
    @include text(12px);
}

.link-text{
    @include text(18px);
    color: variaveis.$corTextoPrincipal;
    text-decoration: underline;
}

.title--big{
    @include title(44px);

    @media (max-width: 768px){
        @include title(34px);
    }
}

.title{
    @include title;

    @media (max-width: 768px){
        @include title(28px);
    }    
}

.title--small{
    @include title(28px);

    @media (max-width: 768px){
        @include title(22px);
    } 
}

.title--faq{
    @include title(28px);
    font-weight: 400;

    @media (max-width: 768px){
        @include title(22px);
        font-weight: 400;
    }
}


.button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 16px;
    color: variaveis.$corTextoPrincipal;
    background-color: variaveis.$corBotao;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: 400;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 8px 16px;
    cursor: pointer;
    border: 1px solid variaveis.$corBotao;

    &--secundary{
        background-color: variaveis.$corBotaoSegundario;
        border-color: variaveis.$corBotaoSegundario;
        &:hover{
            background-color: lighten($color: variaveis.$corBotaoSegundario, $amount: 5%) !important;
        }
    
    }
    &--dark{
        background-color: rgba(variaveis.$corBotaoDark,.8);
        border-color: variaveis.$corTextoSecundario;
        &:hover{
            border-color: variaveis.$corBotaoDark;
            color: variaveis.$corBotaoDark;
            background-color: variaveis.$corTextoSecundario !important;
        }
    }
}

.button:hover{
    background-color: #561fd6;
}

.image-text-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5.6vw;
    align-items: center;

    @media (max-width: 768px){
        display:block;
        text-align: center;
        margin: 60px 0;
        img{
            width: 450px;
            margin-bottom: 24px;
        }
    }

    &__text{
        padding: 0 2vw;
    }
    h2{
        margin-bottom: 24px;
    }
    img{
        max-width: 100%;
    }

    &--full-width{
        display: flex;

        @media (max-width: 768px){
            display: block;
            text-align: center;
            position: relative;
            left: 0;
        }        
        .image-text-container__text{
            position: absolute;
            display: flex;
            flex-direction: column;
            left: 50%;
            width: calc(50% - 6.6vw);

            @media (max-width: 768px){
                display: block;
                width: 100%;
                position: relative;
                left: 0px;
            }
        }

        img{
            width: 100%;
        }

    }
}

html{
    overflow-x: hidden;
}