@use 'hero';
@use 'variaveis';
@use 'shows';
@use 'plans';
@use 'available-devices';

@font-face {
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Regular.woff2);
    font-weight: 400;
}
@font-face {
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Bold.woff2);
    font-weight: 700;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Avenir, sans-serif;
}

body{
    background-color: variaveis.$corDeFundo;
}

@mixin text($fontSize: 16px){
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: variaveis.$corTextoSecundario;
}

@mixin title($fontSize: 40px){
    @include text($fontSize);
    color: variaveis.$corTextoPrincipal;
}

.text--big{
    @include text(18px);
}

.text{
    @include text;
}

.text--small{
    @include text(12px);
}

.link-text{
    @include text(18px);
    color: variaveis.$corTextoPrincipal;
    text-decoration: underline;
}

.title--big{
    @include title(44px);
}

.title{
    @include title;
}

.title--small{
    @include title(28px);
}

.button{
    display: block;
    width: 100%;
    height: 60px;
    font-size: 16px;
    color: variaveis.$corTextoPrincipal;
    background-color: #6421ff;
    border-radius: 4px;
    margin-top: 2vw;
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
}

.button:hover{
    background-color: #561fd6;
}

.image-text-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5.6vw;
    align-items: center;

    &__text{
        padding: 0 2vw;
    }
    h2{
        margin-bottom: 24px;
    }
    img{
        max-width: 100%;
    }

    &--full-width{
        display: flex;
        
        .image-text-container__text{
            position: absolute;
            display: flex;
            flex-direction: column;
            left: 50%;
            width: calc(50% - 6.6vw);
        }

        img{
            width: 100%;
        }

    }
}